
<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="bg-info p-4 text-center text-white">
    Subject
  </h2>
  <div class="row mt-3">
    <div class="col-md-8 offset-md-2">
      <app-form></app-form>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">
      <app-componentone></app-componentone>
    </div>

    <div class="col-md-4">
      <app-componenttwo></app-componenttwo>
    </div>

    <div class="col-md-4">
      <app-componentthree></app-componentthree>
    </div>

  </div>
</div>